h1 {
    font-family: 'Seaweed Script', cursive;
}

body {
    font-family: 'Nanum Brush Script', cursive;
}

.ship-container {
    float: right;
    margin: 0 0 30px 30px;
    transform: rotate(3deg);
}

.container {
    width: 35%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 5px 5px #ddd;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.chest-container {
    float: left;
    margin: 0 30px 30px 0;
    transform: rotate(-3deg);
}

img {
    width: 400px;
    height: 250px;
}